:root {
  --background: #A83238;
  --text: #FFFFFF;
  --gray: #4A4A4A;
  --black: #1A1A1A;
  --card: #B8860B;
  --text-gray: #A0A0A0;
}
 
.body {
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.main {
  flex-grow: 1;
}
 
.page__header {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  background-color: var(--background);
}
 
.header__logo {
  width: 50px;
  height: 25px;
  display: block;
  align-items: center;
}
 
.footer {
  background: var(--background);
  color: var(--text);
  padding: 1rem;
  height: calc(120px - 2rem);
}
 
.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 
.footer__label {
  margin: 0;
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--text);
}
 
.footer__label-owner {
  text-align: right;
}
 
.footer__item {
  margin: 0.3rem 0;
}
 
.footer__link {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
}
 
.footer__link:hover {
  text-decoration: underline;
}
 
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  flex-wrap: wrap;
}
 
.footer__copyright {
  margin: 0;
  font-size: 0.875rem;
  color: var(--text);
}
 
.footer__social {
  display: flex;
  gap: 0.5rem;
}
 
.footer__icon {
  width: 24px;
  height: 24px;
}
 
.page__title {
  text-align: center;
  grid-area: title;
}

.page__title-sell {
  margin: 1rem;
  text-align: center;
}

.page__text {
  margin: 0 1rem;
  margin-bottom: 1.5rem;
}

.categories__card-luxury {
  grid-area: luxury;
}

.categories__card-sport {
  grid-area: sport;
}

.categories__card-new {
  grid-area: new;
  background-color: var(--card);
}

.categories__card-sale {
  grid-area: sale;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "title title"
  "new sale"
  "luxury sport";
  place-items: center;
} 
.categories__icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
 
.categories__img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
 
.categories__caption {
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
 
.categories__count {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  color: var(--text-gray);
}

.categories__caption-new {
  color: var(--text);
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
 
.categories__count-new {
  color: var(--text);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
}
 
.categories__card {
  display: grid;
  width: calc(208px - 2rem);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.h2 {
  text-decoration: none;
}
 